.appartements-card {
    position: relative;
    border-radius: 10px;
    margin-top: 30px;
    width: 340px;
}

.appartements-card img {
    height: 340px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.appartements-titre {
    position: absolute;
    bottom: 2px;
    left: 10px;
    max-width: 250px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 15px 5px 15px;
    color: #F6F6F6;
}

.appartements-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 25px;
    margin: 30px 60px 30px 60px;
    background-color: #F6F6F6;
    padding-top: 5px;
    padding-bottom: 30px;
}

@media screen and (min-width : 375px) and (max-width: 767px) {
    
    .appartements-list {
        background-color: white;
        margin: 10px 10px;
    }

    .appartements-card {
        width: 100%;
    }

    .appartements-card img {
        height: 300px;
        width: 340px;
    }

}

