.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo-footer {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 40px;
}

.logo-footer img {
    margin-left: 5px;
}

.text-footer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

@media screen and (min-width : 375px) and (max-width: 767px) {

    .footer {
        height: 200px;
    }

    .logo-footer {
        margin-top: 60px;
    }

}